# Google Gemini Yapay Zeka Modeli
google-generativeai

# Ses Tanıma ve İşleme
speechrecognition
pyaudio
openai-whisper
soundfile
numpy

# Metin-Ses Dönüştürme (TTS) ve Oynatma
edge-tts
pygame

# Yardımcı Kütüphaneler ve Ortam Değişkenleri
requests
python-dotenv

# Müzik Kontrolü
spotipy

# Masaüstü otomasyonu (fare ve klavye hareketleri, ekran kontrolü)
pyautogui

